# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.venv/
backend/env/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
/media/
media/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
build/
dist/

# Test
.coverage
.pytest_cache/

# Migrations (si vous voulez les ignorer) - normalement on commit
api/migrations/__pycache__/
